.modalContent {
    position: relative;
    background-color: #404040;
}

.form h2{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
    
} 

.form {
    background-color: #fff;
    max-width: 550px;
    margin: 50px auto;
    margin-bottom: 2rem;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 10);
    margin-top: 2rem;
    background: rgb(145, 144, 144);
}

.deletebutton{
    background-color: #fa664c;
    color: #fff;
    border: none;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 1.5px solid #20201f;
    transition: 0.3s ease-in-out;
}

.deletebutton:hover {
    background-color: #ff2600;
}

.deletebutton:active,
.addexpensebutton:active,
.additembutton:active{
    transform: scale(0.95);
}




label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
}

.close {
    color: #404040;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-left:    29.8rem;
    margin-top: -4.1rem;
    /* margin-left: -10rem;  */
}

.close:hover,
.close:focus {
    color: #e80303;
    text-decoration: none;
    cursor: pointer;
}

.itemRow input
 {
    width: 50%;
    padding: 7px;
    border: 1.5px solid #20201f;
    /* margin-left: 1rem; */
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f3f3;
}


.indate{
    width: 50%;
    padding: 7px;
    border: 1.5px solid #20201f;
    margin-left: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f3f3;
}

.indiscount{
    width: 42%;
    padding: 7px;
    border: 1.5px solid #20201f;
    margin-left: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f3f3;
}

.intotalcost{
    width: 50%;
    padding: 7px;
    border: 1.5px solid #20201f;
    margin-left: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f3f3;
    margin-bottom: 1rem;
}

.itemRow {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}

/* .itemRo
 */

.additembutton{
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4366ff;
    color: #fff;
    transition: 0.3s ease-in-out;
    margin-bottom: 1rem;
    margin-top: 2px;
    max-width: 120px;
}

.additembutton:hover {
    background-color: #002fff;
}

.addexpensebutton{
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background-color: #4366ff;
    color: #fff;
    transition: 0.3s ease-in-out;
    margin-top: 1rem;
}

.bntcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addexpensebutton:hover {
    background-color: #002fff;
}
